#centers{
    text-align: center;
}

#boldy{
    font-weight: bold;
}

#boldy1{
    font-weight: bold;
    font-size: 14pt;
}

#bod1{
    font-size: 8.5pt;
}

h1{
    font-size: 8.5pt;
}

#bod{
  background: burlywood;
}

form{
  margin: 20px auto;
  width: 320px;
  color: brown;
}

input{
  padding: 5px;
  display:block;
  margin-bottom: 15px;
  width: 100%;
  border: 2px solid brown
}

input:focus{
  background:khaki;
}

#subut{
  width:100px;
  height:30px;
  background: brown;
  color: white;
  cursor:pointer;
}

#gender{
  padding: 5px;
  display:block;
  margin-bottom: 15px;
  width: 100%;
  border: 2px solid brown;
}

#hd{
  background: brown;
  text-align:center;
  font-size:25px;
}

a{
  color:white;
}

