#centers{
    text-align: center;
}

#boldy{
    font-weight: bold;
}

h1{
    font-size: 8.5pt;
}

.myform{
    margin: 2rem auto;
    border: 2pm solid blueviolet;
    padding: 2rem;
}

#subut{
    border: 0;
    background: brown;
    padding: 5rem;
    margin: 1rem;
    cursor: pointer;
}

label{
    display: block;
    padding: 5rem;
}